@import "pretendard/dist/web/static/pretendard.css";
@import "tailwindcss";

:root {
  --background: #f2f2f2;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Primary */
  --color-main: #281d21;
  --color-main-click: #473f42;

  /* Secondary */
  --color-sub-red: #ff6b6b;
  --color-sub-yellow: #fdd75e;
  --color-sub-orange: #ffb730;
  --color-sub-green: #00c9a7;
  --color-sub-skyblue: #aac4f0;
  --color-sub-blue: #2c599d;
  --color-sub-purple: #6f47ff;

  /* System */
  --color-error-red: #ff5454;

  /* Gray_scale */
  --color-white: #ffffff;
  --color-gray-50: #f5f5f5;
  --color-gray-100: #ebebeb;
  --color-gray-200: #dddddd;
  --color-gray-300: #c2c2c2;
  --color-gray-400: #aeaeae;
  --color-gray-500: #848484;
  --color-gray-600: #6d6d6d;
  --color-gray-700: #4b4b4b;
  --color-gray-800: #2f2f2f;
  --color-gray-900: #151515;
  --color-black: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Pretendard, Arial, Helvetica, sans-serif;
}

/* 대쉬보드 배경스타일 */
.bg-dots {
  background-color: #f2f2f2;
  background-image: radial-gradient(
    circle,
    var(--color-gray-300) 1px,
    transparent 1px
  );
  background-size: 24px 18px;
}

/* 체크리스트, 마이페이지, 설정 배경스타일 */
.bg-protected-pages {
  background-color: var(--color-gray-50);

  background-image: url("/bgstyle_white.svg");
  background-repeat: no-repeat;
  background-position: top center;

  background-size: clamp(220px, 40vw, 650px) auto;
}

/* Landing 배경스타일 */
.bg-landing {
  background-color: #ffffff;

  background-image: url("/bglanding_white.svg"), url("/bglanding_puzzles.svg");
  background-repeat: no-repeat, no-repeat;
  background-position:
    top,
    center bottom;

  background-size:
    90% clamp(220px, 40vw, 800px),
    100% clamp(100px, 80vw, 300px);
}

/* 로그인, welcome 배경스타일 */
.bg-auth {
  background-color: var(--color-main);

  /* background-image: url("/bgstyle_black.svg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* border 점선 모양 커스텀스타일 */
.border-dash-custom {
  position: relative;
  border-radius: 18px;
  background: white;
}

.border-dash-custom::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  pointer-events: none;

  /* SVG dashed stroke */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid meet'%3E%3Crect x='1.5' y='1.5' width='200' height='97' rx='20' ry='8' fill='none' stroke='rgba(221,221,221,1)' stroke-width='2' stroke-linecap='round' stroke-dasharray='8 10'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* 스크롤은 되지만 스크롤바는 안보이게 */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
